@import url(http://fonts.googleapis.com/css?family=Nunito);

* {}

body {
    font-family: Calibri, Nunito;
    
    margin: 0;
    background-color: black;
    background-image: url(grafika/bgtest.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
    color: white;
    height: auto;
    width: 100%;
}

#spaceman {
    position: fixed;
    height: 1%;
    left: 45%;
    top: 50%;

    z-index: -1;
}

.moveUp {
    webkit-animation: flip-fwd 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
	        animation: flip-fwd 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

.moveDown {
    
    -webkit-animation: flip-bck 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-bck 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

#header {
    width: 100%;
    min-height: 100px;
    height: auto;

}

#headerBG {
    width: 100%;
    transform: rotate(0deg);
    z-index: -1;
    position: absolute;
    /*-webkit-animation: mymove 2s infinite;*/

    transform: translate(0%)
}

#erth {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 1;
    top: 0;
    width: 50%;
    height: auto;
    margin-bottom: 30%;
}

#projectContainer {
    width: 100%;
    position: relative;
}

.project {
 clear: both;
    min-width: 30%;
    width: 48%;
    max-width: 51%;
    height: 200px;
    color: white;
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
}

.project:nth-child(even) {
    float: right;

}

.project:nth-child(odd) {
    float: left;

}


.planets {
    width: 50%;
}

.planetsR {
    float: right;
    width: 50%;
}

.aboutProject {
    float: right;
    margin-left: 50px;
    width: 80%;

}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
#footer{
    
    position: absolute;
    width: 100%;  position: relative;    
    bottom: 0;
}
#footer img{
    padding-top: 10%;
}


@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@-webkit-keyframes flip-bck {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
}
@keyframes flip-bck {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
}
@-webkit-keyframes flip-fwd {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
}
@keyframes flip-fwd {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
}

